.product-list {
    display: flex;
    flex-wrap: wrap;
}

li {
    width: 300px;
    display: table;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

img {
    width: 300px;
    height: 250px;
    margin: 0 auto;
}

.product-name {
    height: 30px;
    margin-bottom: 10px;
}

button {
    width: 380px;
    height: 30px;
    margin-top: 10px;
    background-color: #A569BD;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #6C3483;
}